<html layout:decorate="~{layout}">

<li th:fragment="noteTree(notebookList, targetNotebook)" th:each="notebook : ${notebookList}"
    th:with="basic='w-[90%] p-[10px]'">
    <th:block th:if="${!#lists.isEmpty(notebook.children)}">
        <details open>
            <summary class="flex p-0">
                <a th:class="${basic}"
                   th:classappend="${notebook.id == targetNotebook.id} ? 'bg-blue-600':''"
                   th:href="@{|/books/${notebook.id}?keyword=${keyword}&sort=${sort}|}"
                   th:text="${notebook.name}">
                </a>
            </summary>
            <ul>
                <li th:replace="~{main::noteTree(${notebook.children}, ${targetNotebook})}"></li>
            </ul>
        </details>
    </th:block>
    <th:block th:if="${#lists.isEmpty(notebook.children)}">
        <a th:class="${basic}"
           th:classappend="${notebook.id == targetNotebook.id} ? 'bg-blue-600' : '' "
           th:href="@{|/books/${notebook.id}?keyword=${keyword}&sort=${sort}|}" th:text="${notebook.name}"></a>
    </th:block>
</li>

<li th:fragment="moveTree(notebookList, targetNotebook)" th:each="notebook : ${notebookList}"
    th:with="basic='w-[90%] p-[10px]'">
    <th:block th:if="${!#lists.isEmpty(notebook.children)}">
        <details open th:if="${notebook.id != targetNotebook.id and !#lists.contains(targetNotebook.children, notebook)}">
            <summary class="flex p-0">
                <input type="radio" class="radio radio-primary" name="destinationId" th:value="${notebook.id}">
                <a th:class="${basic}"
                   th:classappend="${notebook.id == targetNotebook.id} ? 'bg-blue-600':''"
                   th:href="@{|/books/${notebook.id}?keyword=${keyword}&sort=${sort}|}"
                   th:text="${notebook.name}">
                </a>
            </summary>
            <ul>
                <li th:replace="~{main::moveTree(${notebook.children}, ${targetNotebook})}"></li>
            </ul>
        </details>
    </th:block>
    <th:block th:if="${#lists.isEmpty(notebook.children)}">
        <div th:if="${notebook.id != targetNotebook.id and !#lists.contains(targetNotebook.children, notebook)}">
            <input type="radio" class="radio radio-primary" name="destinationId" th:value="${notebook.id}">
            <a th:class="${basic}"
               th:classappend="${notebook.id == targetNotebook.id} ? 'bg-blue-600' : '' "
               th:href="@{|/books/${notebook.id}?keyword=${keyword}&sort=${sort}|}" th:text="${notebook.name}">
            </a>
        </div>
    </th:block>
</li>

<div layout:fragment="content"
     th:with="notebookList=${mainDataDto.notebookList},
        noteList=${mainDataDto.noteList},
        targetNotebook=${mainDataDto.targetNotebook},
        targetNote=${mainDataDto.targetNote},
        searchedNotebookList=${mainDataDto.searchedNotebookList},
        searchedNoteList=${mainDataDto.searchedNoteList},
        keyword=${paramHandler.keyword},
        isSearchModal=${paramHandler.isSearchModal},
        sort=${paramHandler.sort}">

    <input type="hidden" name="isSearchModal" th:value="${isSearchModal}">

    <div class="bg-blue-300">
        <a href="/">logo</a>
    </div>

    <div class="flex">
        <div class="bg-indigo-300 w-[20%]">
            <ul class="menu h-[100%] overflow-scroll">
                <li th:replace="main::noteTree(${notebookList}, ${targetNotebook})"></li>
            </ul>

            <form th:action="@{|/books/write|}" method="post">
                <input type="hidden" name="keyword" th:value="${keyword}">
                <input type="hidden" name="sort" th:value="${sort}">
                <input type="submit" value="추가" class="btn btn-outline">
            </form>

            <form th:action="@{|/groups/${targetNotebook.id}/books/write|}" method="post">
                <input type="hidden" name="keyword" th:value="${keyword}">
                <input type="hidden" name="sort" th:value="${sort}">
                <input type="submit" value="하위 노트북 추가" class="btn btn-outline">
            </form>
            <form th:action="@{|/books/${targetNotebook.id}/delete|}" method="post">
                <input type="hidden" name="keyword" th:value="${keyword}">
                <input type="hidden" name="sort" th:value="${sort}">
                <input type="submit" value="삭제" class="btn btn-outline">
            </form>
            <button class="btn btn-outline" onclick="my_modal_1.showModal()">노트북 수정</button>
            <dialog id="my_modal_1" class="modal">
                <div class="modal-box">
                    <form th:action="@{|/books/${targetNotebook.id}/update|}" method="post" class="flex flex-col justify-center">
                        <input type="hidden" name="keyword" th:value="${keyword}">
                        <input type="hidden" name="sort" th:value="${sort}">
                        <input type="hidden" name="targetNoteId" th:value="${targetNote.id}">
                        <input type="text" class="input input-bordered" name="name" th:value="${targetNotebook.name}">
                        <input type="submit" value="수정" class="btn btn-outline">
                    </form>
                    <div class="modal-action">
                        <form method="dialog">
                            <button class="btn btn-outline">Close</button>
                        </form>
                    </div>
                </div>
            </dialog>

            <button class="btn" onclick="searchModal.showModal()">검색</button>
            <dialog id="searchModal" class="modal">
                <div class="modal-box h-[600px]">
                    <div>
                        <form action="/" class="h-[10%]">
                            <input type="hidden" name="isSearchModal" value="true">
                            <input type="text" name="keyword" th:value="${keyword}" class="input input-bordered">
                            <input type="submit" value="검색" class="btn btn-outline">
                        </form>
                        <div class="h-[80%]">
                            <ul class="menu overflow-auto">
                                <li th:each="notebook : ${searchedNotebookList}">
                                    <a th:href="@{|/books/${notebook.id}?keyword=${keyword}&sort=${sort}|}" th:text="${notebook.name}"></a>
                                </li>
                                <li th:each="note : ${searchedNoteList}">
                                    <a th:href="@{|/books/${note.notebook.id}/notes/${note.id}?keyword=${keyword}&sort=${sort}|}" th:text="${note.title}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-action h-[10%]">
                        <form method="dialog">
                            <button class="btn">Close</button>
                        </form>
                    </div>
                </div>
            </dialog>

            <label for="my_modal_6" class="btn btn-outline">노트북 이동</label>
            <a th:href="@{|/signup|}" class="btn btn-outline">회원가입</a>
            <a th:href="@{|/login|}" class="btn btn-outline">로그인</a>
            <a th:href="@{|/logout|}" class="btn btn-outline">로그아웃</a>
            <input type="checkbox" id="my_modal_6" class="modal-toggle" />
            <div class="modal" role="dialog">
                <div class="modal-box h-[600px]">
                    <div class="h-[85%]">
                        <form th:action="@{|/books/${targetNotebook.id}/move|}" method="post">
                            <input type="hidden" name="keyword" th:value="${keyword}">
                            <input type="hidden" name="sort" th:value="${sort}">
                            <input type="hidden" name="targetNoteId" th:value="${targetNote.id}">
                            <ul class="menu overflow-auto">
                                <li th:replace="main::moveTree(${notebookList},${targetNotebook})"></li>
                            </ul>
                            <input class="btn btn-outline" type="submit" value="이동">
                        </form>
                    </div>
                    <div class="modal-action h-[15%]">
                        <label for="my_modal_6" class="btn">Close!</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="bg-red-300 w-[20%] h-[800px] text-center ">
            <ul class="h-[100%] overflow-scroll">
                <li th:each="note : ${noteList}" th:class="${note.id == targetNote.id} ? 'bg-blue-600' : ''">
                    <a th:href="@{|/books/${targetNotebook.id}/notes/${note.id}?keyword=${keyword}&sort=${sort}|}" th:text="${note.title}"></a>
                </li>
            </ul>

            <form th:action="@{|/books/${targetNotebook.id}/notes/write|}" method="post">
                <input type="hidden" name="keyword" th:value="${keyword}">
                <input type="hidden" name="sort" th:value="${sort}">
                <input type="submit" value="추가">
            </form>
            <a th:href="@{|/books/${targetNotebook.id}?keyword=${keyword}&sort=date|}" class="btn btn-outline">날짜순</a>
            <a th:href="@{|/books/${targetNotebook.id}?keyword=${keyword}&sort=title|}" class="btn btn-outline">이름순</a>
        </div>

        <div class="w-[60%]">
            <form th:action="@{|/books/${targetNotebook.id}/notes/${targetNote.id}/update|}" method="post"
                  id="updateForm">
                <input type="hidden" name="keyword" th:value="${keyword}">
                <input type="hidden" name="sort" th:value="${sort}">
                <div>
                    <input type="hidden" name="id" th:value="${targetNote.id}">
                </div>
                <div>
                    <input type="text" name="title" th:value="${targetNote.title}" class="input input-bordered">
                </div>
                <div>
                    <input type="hidden" name="content" th:value="${targetNote.content}" id="hiddenContent">
                    <div id="editor"></div>
                </div>
                <div>
                    <input type="button" value="수정" onclick="updateForm()">
                </div>
            </form>
            <form th:action="@{|/books/${targetNotebook.id}/notes/${targetNote.id}/delete|}" method="post"
                  id="deleteForm">
                <input type="hidden" name="keyword" th:value="${keyword}">
                <input type="hidden" name="sort" th:value="${sort}">
                <input type="button" value="삭제" onclick="deleteForm();">
            </form>
        </div>
    </div>
<script>

    const isSearchModal = document.querySelector("input[name=isSearchModal]").value;

    if (isSearchModal === "true") {
        const searchModal = document.getElementById("searchModal");
        searchModal.showModal();
    }


    const editor = new toastui.Editor({
  el: document.querySelector('#editor'),
  height: '700px',
  initialEditType: 'markdown',
  previewStyle: 'vertical',
  initialValue: document.getElementById("hiddenContent").value,
});

    function updateForm() {
        const form = document.getElementById("updateForm");
        const content = document.getElementById("hiddenContent");
        content.value = editor.getMarkdown();
        if (confirm("수정하시겠습니까?")) {
            form.submit();
        }
    }

    function deleteForm() {
        const form = document.getElementById("deleteForm");
        if (confirm("삭제하시겠습니까?")) {
            form.submit();
        }
    }
</script>
</div>
</html>